@import './variable.scss';

.profile-wrapper,.profile-stats-wrapper, .profile-btn-wrapper {
    font-family: monospace;
    width: 300px;
    display: flex;
    flex-direction: row;
    background-color: #ccc;
    padding: 15px;
    box-sizing: border-box;

    .img-wrapper {
        flex: 1;
        height: 80px;
        width: 80px;

        img {
            // width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .userdetails-wrapper {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .name {
            color: black;
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
        }

        .bio, .company {
            color: grey;
            font-size: 15px;
            margin-top: 5px;
        }
    }
}

.profile-stats-wrapper {
    justify-content: space-between;
    padding-top: 0;

    .repostats-wrapper,
    .follower-wrapper,
    .following-wrapper {
        flex: 1;
        text-align: center;
        .header {
            font-weight: bold;
        }

        .num {
            margin-top: 5px;
            font-size: 20px;
        }

    }
}

.profile-btn-wrapper {
    padding-top: 0;
    .button {
        padding: 5px 10px;
        text-decoration: none;
        background-color: white;
        border: 1px solid;
        border-radius: 4px;
        font-weight: 600;
    }
}


.link {
    text-decoration: none;
    color: #24292e;
}

@each $theme in $themes {
    .#{$theme}-themed {
        border: 1px solid map-get($main-border-color, $theme);
        width: 300px;
        display: inline-block;

        &.contains-sibling {
            border-bottom: none;
        }

        .link {
            color: map-get($text-color, $theme);
            &:hover {
                color: #0366d6;
            }
        }

        .profile-wrapper,.profile-stats-wrapper, .profile-btn-wrapper {
            background-color: map-get($background-color, $theme);
        }

        .userdetails-wrapper {
            .name {
                color: map-get($text-color, $theme);
            }
            .bio, .company {
                color: map-get($text-color, $theme);
            }
        }

        .profile-stats-wrapper {
            .header {
                color: map-get($text-color, $theme);
            }
            .num {
                color: map-get($num-color, $theme);
                text-decoration: none;
            }
        }

        .profile-btn-wrapper {
            .button {
                background-color: map-get($button-bgcolor, $theme);
                border-color: map-get($text-color, $theme);
                color: map-get($text-color, $theme);
            }
        }
    }
}
