$primary: ("dark": #37adbf, "light":#37adbf);
$background-color: ("dark": #24292e, "light": white);
$text-color: ("dark": white, "light": #24292e);
$main-border-color: ("dark": #24292e, "light": #ccc);
$num-color: ("dark": white, "light": #0366d6); 
$button-bgcolor: ("dark": #24292e, "light": white);
$white: ("dark": white, "light":white);
$duration: ("dark": #929292, "light": #929292);

$themes: dark light;